transformers
torch
langchain
langchain-huggingface
langchain_chroma
sentence-transformers
gradio
bitsandbytes
chromadb
accelerate
langchain-community
langchain-core
chromadb
gdown
python-dotenv
openai